// Place all the styles related to the Quotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    font-family: sans-serif;
}

#random_quote {
  margin-left: 15%;
  margin-right: 20%;
}

#body_title {
  position: absolute;
  left: 35%;
  top: 5%;
}

#body_center {
    height: 10em;
    position: relative;
    margin: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#quote_num {
  font-size: 13px;
}

#quote,
#genre,
#author {
  font-size: 27px;
  line-height: 40px;
}
